{:source-paths ["src"]

 :dependencies [[reagent "0.9.0-rc4"]]

 :builds       {:app
                {:target     :browser
                 :output-dir "out/dev"
                 :asset-path "."
                 :modules    {:main {:init-fn app.main/main!}}

                 :devtools   {:after-load app.main/reload!
                              :http-root  "out/dev"
                              :http-port  8080}

                 :release    {:output-dir    "out/dist"
                              :build-options {:manifest-name "assets.edn"}}}}}